.wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background:rgba(0,0,0,0.2);
  border-radius: 20px;
  align-items: center;
  border: 2px solid #252530;
}

.register{
  margin-top: 40px;
  text-align: center;
  display: flex;
  align-items: center;
}

/*ログイン横線*/
.register:before,
.register:after {
border-top: 1px solid;
content: "";
flex-grow: 1;
}
/*横線と文字の空間*/
.register:before {
  margin-right: 2rem;
  }
  .register:after {
  margin-left: 2rem;
  }

  form{
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

  form input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    transition: 0.3s;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #1b1515;
    border: none;
    border-bottom: 2px solid #1b2538;
    background: transparent;
  }
  form input[type='password'] {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    transition: 0.3s;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #1b1515;
    border: none;
    border-bottom: 2px solid #1b2538;
    background: transparent;
  }
  form input[type='email'] {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #1b1515;
    border: none;
    border-bottom: 2px solid #1b2538;
    background: transparent;
  }

  form input[type='text']:focus,form input[type='password']:focus,form input[type='email']:focus {
    border-bottom: 4px solid  #1b2538;
    outline: none;
  }
  form input[type='submit']{
    margin-top: 40px;
    background-color: #000;
    color: #fff;
    border-style: none;
    width: 100%;
    padding: 1em;
    height: 50px;
    transition: background-color .5s;
  }

  form input[type='submit']:hover{
    background-color: #777;
  }
  .login{
    text-align: center;
    margin-top: 20px;
  }
  .login-link{
    text-decoration: none;

  }